 *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
 }
 
#navbar{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
#navbar h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    color: blue;
}
#navbar ul{
    color: blue;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-right: 30px;
}
#m1{
    height: 300px;
    width: 96%;
    margin-left: 25px;
}
.box1{
    height: 300px;
    width: 100%;
    background-color: rgb(69, 112, 190);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    box-sizing: border-box;
    
}
.box1 h1{
    font-size: xx-large;
    font-weight: bolder;
    color: aliceblue;
}
.box1 h3{
    font-size:large;
    font-weight: bold;
    color: aliceblue;
}
.box1 button{
    height: 40px;
    width: 100px;
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
}

#m2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 25px;

}
.one{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.one i{
    color: blue;
    font-size: 100px;
}
.one h3{
    color: blue;
}
.one p{
    font-weight: bold;
}

.two{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.two i{
    color: blue;
    font-size: 100px;
}
.two h3{
    color: blue;
}
.two p{
    font-weight: bold;
}

.three{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.three i{
    color: blue;
    font-size: 100px;
}
.three h3{
    color: blue;
}
.three p{
    font-weight: bold;
}
#m3{
    height: 200px;
    width: 96%;
    margin-left: 25px;
}
.box2{
    height: 200px;
    width: 100%;
    background-color: rgb(69, 112, 190);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    box-sizing: border-box;
    
}
.t1{
    display: flex;
    gap:20px
}
.box2 h1{
    color: aliceblue;
    font-size: xx-large;
    font-weight: bold;
}
/* .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
} */
.icon ul{
    list-style: none;
    font-size: x-large;
    color: blue;
        display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-top: 30px;
}

.icon p{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}